<% if(messages.length> 0) { %>
    <div class="about-optima-text">
        <ul>

            <li style="color:red;">
                <% messages.forEach(error=> { %>
                    <%= error %><br>
                        <% }) %>
            </li>
        </ul>
    </div>
<% } %>