
        <!-- footer section start -->
		<footer class="re-footer-section">
			<!-- footer-top area start -->
			<div class="footer-top section-padding-top">
				<div class="footer-dsc">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-3 pull-right" >
								<div class="single-text res-text">
									<div class="footer-title">
										<h4>ارتباط با ما</h4>
										<hr class="dubble-border"/>
									</div>
									<div class="footer-text">
										<ul>
											<li>
												<i class="pe-7s-map-marker"></i>
												<p>تهران، خیابان آزادی، کوچه بهار، پلاک 11.</p>
												
											</li>
											<li>
												<i class="pe-7s-call"></i>
												<p style="font-family:Tahoma">0218888888</p>
                                                <p style="font-family:Tahoma">0218888888</p>
											</li>
											<li>
												<i class="pe-7s-mail-open"></i>
												<p>info@example.com</p>
												<p>company@example.com</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
                            <div class="col-xs-12 col-sm-4 col-md-3 pull-right">
                                <div class="single-text res-text">
                                    <div class="footer-title">
                                        <h4>حساب کاربری</h4>
                                        <hr class="dubble-border" />
                                    </div>
                                    <div class="footer-menu">
                                        <ul>
                                            <li><a href="login.html">حساب کاربری من</a></li>
                                            <li><a href="wishlist.html">مورد علاقه‌های من</a></li>
                                            <li><a href="order-complete">سفارشات من</a></li>
                                            <li><a href="#">اعتبار من</a></li>
                                            <li class="nm"><a href="#">آدرس من</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 margin-top pull-right">
                                <div class="single-text res-text">
                                    <div class="footer-title">
                                        <h4>خدمات مشتریان</h4>
                                        <hr class="dubble-border" />
                                    </div>
                                    <div class="footer-menu">
                                        <ul>
                                            <li><a href="contact.html">ارتباط با ما</a></li>
                                            <li><a href="#">برگشتی‌ها</a></li>
                                            <li><a href="#">برندها</a></li>
                                            <li><a href="#">نقشه سایت</a></li>
                                            <li class="nm"><a href="#">جوایز</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 hidden-sm col-md-3 margin-top pull-right">
                                <div class="single-text res-text">
                                    <div class="footer-title">
                                        <h4>اخبار</h4>
                                        <hr class="dubble-border" />
                                    </div>
                                    <div class="footer-text">
                                        <p>اما به هر حال تصمیم گیری های غلط هیئت مدیره و به خدمت گرفتن بازیکنان پایین تر از سطح مورد نظر باعث سلطه کهکشانی ها بر لالیگا و لیگ قهرمانان شده است.</p>
                                        <form action="mail.php" method="post" dir="rtl">
                                            <input type="text" name="email" placeholder="ایمیل" />
                                            <input type="submit" value="ثبت" />
                                        </form>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
					<hr class="dubble-border"/>
				</div>
				<div class="social-media">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<div class="paypal social-icon">
									<ul>
										<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
										<li><a href="#"><i class="fa fa-cc-stripe"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6">
								<div class="social-icon">
									<ul class="floatright">
										<li class="res-mar"><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- footer-top area end -->
			<!-- footer-bottom area start -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<p>&copy; ParsDevelop. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- footer-bottom area end -->
		</footer>
        <!-- footer section end -->
        
		<!-- all js here -->
		<!-- jquery latest version -->
        <script src="js/vendor/jquery-1.12.0.min.js"></script>
		<!-- bootstrap js -->
        <script src="js/bootstrap.min.js"></script>
        <!-- parallax js -->
        <script src="js/parallax.min.js"></script>
		<!-- owl.carousel js -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- Img Zoom js -->
		<script src="js/img-zoom/jquery.simpleLens.min.js"></script>
		<!-- meanmenu js -->
        <script src="js/jquery.meanmenu.js"></script>
		<!-- jquery.countdown js -->
        <script src="js/jquery.countdown.min.js"></script>
		<!-- Nivo slider js
		============================================ --> 		
		<script src="lib/js/jquery.nivo.slider.js" type="text/javascript"></script>
		<script src="lib/home.js" type="text/javascript"></script>
		<!-- jquery-ui js -->
        <script src="js/jquery-ui.min.js"></script>
		<!-- sticky js -->
        <script src="js/sticky.js"></script>
		<!-- plugins js -->
        <script src="js/plugins.js"></script>
		<!-- main js -->
        <script src="js/main.js"></script>
    </body>
</html>
