<%- include(viewPath('home/panel/head')) -%>

<div style="margin : 20px">
    <div class="container">
        <form action="/user/panel/vip/payment" method="post" class="col-md-4 col-md-offset-4">
            <select name="plan" id="plan" class="form-control" dir="rtl">
                <option value="1">عضویت ویژه 1 ماه 10000</option>
                <option value="3">عضویت ویژه 3 ماه 30000</option>
                <option value="12">عضویت ویژه 12 ماه 120000</option>
            </select>
            <button type="submit" class="btn btn-danger" style="margin-top: 3%;">افزایش اعتبار</button>
        </form>
    </div>
</div>