
<!-- pages-title-start -->
<section class="contact-img-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="con-text">
                    <h2 class="page-title">بازیابی رمز عبور</h2>
                    <p><a href="#">خانه</a> | بازیابی رمز عبور</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- pages-title-end -->
<!-- login content section start -->
<div class="login-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12">

                <div class="tb-login-form ">

                    <%- include(viewPath('layouts/error-messages')) -%>

                    

                    <h5 class="tb-title">بازیابی رمز عبور</h5>
                    <!-- <p>Hello, Welcome your to account</p> -->
                    <form method="post" action="/auth/password/reset" novalidate>
                        <input type="hidden" name="token" value="<%= token %>"> 
                        <p class="checkout-coupon top log a-an">
                            <label class="l-contact">
                                <em>*</em>
                                آدرس ایمیل
                            </label>
                            <input dir="rtl"  type="email" name="email" value="">
                        </p>
                        <p class="checkout-coupon top-down log a-an">
                            <label class="l-contact">
                                <em>*</em>
                                پسوورد جدید
                            </label>
                            <input dir="rtl"  type="password" name="password">
                        </p>
                        <p class="login-submit5">
                            <input class="button-primary" type="submit" value="ریست">
                        </p>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- login  content section end -->
<!-- service section start -->
<section class="re-section-padding">
    <div class="service section-padding">
    </div>
</section>
<!-- service section end -->